.w-input,
.w-select {
  font-size: 16px !important;
}
#slider1 {
  overflow: hidden;
  height: 100vh;
}

#slider2 {
  overflow: hidden;
  height: 100vh;
}
.splide__arrows--ltr-custom {
  margin-bottom: 26px;
}

.splide__arrow--prev-custom svg {
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow--next-custom svg {
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow--prev-custom:hover {
  background: #9aa6ad;
}

.splide__arrow--next-custom:hover {
  background: #9aa6ad;
}

.splide__arrow--prev-custom.wl {
  margin-right: 18px;
  transform: rotate(180deg);
  background-color: white;
  border-radius: 8px;
  width: 75px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.splide__arrow--next-custom.wl {
  background-color: white;
  border-radius: 8px;
  width: 75px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.splide__track.ofertas--track {
  /* height: 100vh !important; */
}
@media screen and (max-width: 680px) {
  .splide__track.ofertas--track {
    overflow: visible !important;
  }
}
.splide__slide.wl-dyn-item {
  background: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

#slider1 {
  overflow: hidden;
  height: 100vh;
}
