.ReactInputVerificationCode-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ReactInputVerificationCode-item {
  width: 50px;
  height: 68px;
  margin-bottom: 0px;
  border: 1px none #ffc700;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-family: Matter, sans-serif;
  color: #000;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  vertical-align: middle;
  box-shadow: none;
  outline: none;
}

.ReactInputVerificationCode-item:focus {
  border-style: solid;
  border-color: #ffc700;
  box-shadow: none;
}